<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head(title)" lang="en">
        <meta charset="UTF-8" />
        <title th:text="${title}">Otsikko</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    </head>
    <body>
   
    <h2>Add book</h2>
    
    <form th:action="@{/addbook}" method="POST">
                Author: <input type="text" name="author" id="author"/><br/>
                Title <input type="text" name="title" id="title"/><br/>
                Year: <input type="text" name="year" id="year"/><br/>
                ISBN: <input type="text" name="isbn" id="isbn"/><br/>
                Price: <input type="text" name="price" id="price"/><br/>
                	
                <div class="form-group row">
				    <select class="form-control" id="categoryId" name="categoryId">
				        <option th:each="category : ${categories}"
				                th:value="${category.id}"
				                th:text="${category.name}"
				                th:selected="${category.id}"/>
				    </select>
				</div>
                
                <input type="submit"/>            
    </form>

    </body>
</html>